<div class="form-group {{form.htmlClass}} schema-form-select"
     sf-layout>
    <md-autocomplete ng-disabled="form.readonly"
                     ng-model="$$value$$"
                     sf-autocomplete
                     sf-field-model="replaceAll"
                     schema-validate="form"
                     md-autoselect="true"
                     md-selected-item="$$value$$"
                     md-search-text="searchText"
                     md-selected-item-change="form.onChange(item, form, model, modelArray, arrayIndex)"
                     md-items="item in form.query(searchText)"
                     md-item-text="item[form.textField]"
                     md-floating-label="{{::form.title}}"
                     md-menu-class="autocomplete-custom-template">
        <md-item-template>
            <span md-highlight-text="searchText">{{ item[form.textField] }}</span>
        </md-item-template>
        <md-not-found>
            No matches found
        </md-not-found>
    </md-autocomplete>
    <md-input-container style="padding: 0;margin: 0;"
                        name="{{form.key|sfCamelKey}}"
                        md-is-error="!$root.isEmptyObject(ngModel.$error)"
                        ng-model="$$value$$"
                        sf-field-model
                        schema-validate="form">
        <div ng-messages="ngModel.$error">
            <div sf-message ng-message></div>
            <div class="md-char-counter">{{ form.description }}</div>
        </div>
    </md-input-container>
</div>
