<div ng-model="modelArray"
     schema-validate="form"
     sf-array="form"
     md-theme="dark"
     sf-field-model="sf-new-array"
     layout="column"
     layout-padding
     sf-new-array="$$value$$"
     class="clearfix schema-form-tabarray {{form.htmlClass}}">

    <div class="md-toolbar-tools">
        <h3>{{ form.title }}</h3>
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-hide="form.readonly"
                   ng-disabled="form.schema.maxItems <= modelArray.length"
                   ng-click="$event.preventDefault() || (appendToArray())">
            <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
    </div>

    <md-tabs md-selected="form.selectedIndex"
             md-dynamic-height
             md-border-bottom
             md-autoselect>
        <md-tab ng-repeat="item in modelArray track by $index"
                ng-disabled="item.disabled"
                label="{{ form.title + ($index+1) }}{{item.title}}">
            <div class="tab{{$index%4}}">
                <md-button class="md-icon-button"
                           ng-hide="form.readonly"
                           ng-click="deleteFromArray($index)"
                           ng-disabled="form.schema.minItems >= modelArray.length">
                    <ng-md-icon icon="delete"></ng-md-icon>
                </md-button>
                <sf-decorator ng-init="arrayIndex = $index" form="copyWithIndex($index)"></sf-decorator>
            </div>
        </md-tab>
    </md-tabs>
</div>
